<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css') }}"> 
        <!-- important to note, that the location of filename by default, is going to look for things in a 'static' folder -->
    </head>


    <body>

        <header>
            <h3>Chinchilla's Land</h3>
        </header>
          
        <section>

            <nav>
                <ul>
                    <li><a href="#">Island 1</a></li>
                    <li><a href="#">Island 2</a></li>
                    <button> Play! </button>
                    <button class="specialButton1"> Explore! </button>

                    <img src="/Users/reginachen/Downloads/Nyanko-sensei.full.839423.jpg" alt="cat" width="104" height="142">
                </ul>
            </nav>
        
            <article>
                <h1>About</h1>
                <p>This is a page dedicated to Chinchillas.</p>
                <p>Chinchillas are very cute creatures.</p>
                <p>The template utilized to make this is from:   <a href="https://www.w3schools.com/html/html_layout.asp">    W3 School   </a>    </p>
            </article>

        </section>
          
        <footer>
            <p>Copyright 2022 - AHI </p>
        </footer>

    </body>


</html>